<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Register Today</h3>
          <form
            class="requires-validation"
            (ngSubmit)="onSubmit()"
            #registrationForm="ngForm"
          >
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="name"
                #fullName="ngModel"
                [(ngModel)]="fullname"
                placeholder="Full Name"
                required
                ngModel
              />
              <div *ngIf="fullname" class="text-success">
                Username field is valid!
              </div>
              <div
                *ngIf="fullName.invalid && fullName.touched"
                class="text-danger"
              >
                Username field cannot be blank!
              </div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="email"
                name="email"
                #email="ngModel"
                [(ngModel)]="emailAddress"
                placeholder="E-mail Address"
                email
                required
                ngModel
              />
              <div *ngIf="emailAddress" class="text-success">
                Email field is valid!
              </div>
              <div *ngIf="email.invalid && email.touched" class="text-danger">
                Email field cannot be blank!
              </div>
            </div>
            <div class="col-md-12">
              <select
                class="form-select mt-3"
                required
                id="position"
                name="position"
                #job="ngModel"
                [(ngModel)]="jobPosition"
                ngModel
              >
                <option selected disabled value="">Position</option>
                <option value="jweb">Junior Web Developer</option>
                <option value="sweb">Senior Web Developer</option>
                <option value="pmanager">Project Manager</option>
              </select>
              <div *ngIf="jobPosition" class="text-success">You selected a position!</div>
              <div *ngIf="job.invalid && job.touched" class="text-danger">Please select a position!</div>
            </div>
            <div class="col-md-12">
              <input
                class="form-control"
                type="password"
                name="password"
                [(ngModel)]="pass"
                #password="ngModel"
                placeholder="Password"
                required
                ngModel
              />
              <div *ngIf="pass" class="text-success">
                Password field is valid!
              </div>
              <div
                *ngIf="password.invalid && password.touched"
                class="text-danger"
              >
                Password field cannot be blank!
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <label class="mb-3 mr-1">Gender: </label>

              <input
                type="radio"
                class="btn-check"
                name="gender"
                id="male"
                value="male"
                autocomplete="off"
                required
                #gender="ngModel"
                [(ngModel)]="genderType"
                ngModel
              />
              <label class="btn btn-sm btn-outline-secondary" for="male"
                >Male</label
              >

              <input
                type="radio"
                class="btn-check"
                name="gender"
                id="female"
                value="female"
                autocomplete="off"
                required
                #gender="ngModel"
                [(ngModel)]="genderType"
                ngModel
              />
              <label class="btn btn-sm btn-outline-secondary" for="female"
                >Female</label
              >
              <div *ngIf="genderType" class="text-success mv-up">You selected a gender!</div>
              <div *ngIf="gender.invalid && gender.touched" class="text-danger mv-up">Please select a gender!</div>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [(ngModel)]="isConfirmed"
                #confirm="ngModel"
                id="invalidCheck"
                required
                name="confirm-form"
                ngModel
              />
              <label class="form-check-label"
                >I confirm that all data are correct</label
              >
              <div
                *ngIf="confirm.invalid && confirm.touched"
                class="text-danger"
              >
                Please confirm that the entered data are all correct!
              </div>
            </div>
            <div class="form-button mt-3">
              <button
                id="submit"
                type="submit"
                class="btn btn-primary"
                [disabled]="!registrationForm.valid"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
